.active-link{
    text-decoration: none;
    margin-left: 15px;
    transition:color ease-in-out 300ms;
    color:#1b4388;
}
.libk{
    text-decoration: none;
    margin-left: 15px;
    transition:color ease-in-out 300ms;
    color:#1e90c2;
}